/* .header{
  background-color: #AFD4C0;
  height: 125px;


}
.menu{
  background-color: #757675;
  height: 50px;
  box-shadow: 2px 2px 2px #606368;
  margin-bottom: 3px;
}




html, body{
  height: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #edf8ed;
  width: 200px;
  height: 100%;
  overflow: auto;
  font-family: Helvetica;
  line-height: 40px;
}
li{
  padding-left: 15px;
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}
li:hover{
  background-color: #9ED09E;
  color: white;
}
img{
  border: 1px solid black;
}
* {
  margin: 0;
  padding: 0;
}
h1{
text-align: center;
vertical-align: middle;
line-height: 125px;
color: white;
font-family: Helvetica;
text-shadow: 2px 2px 5px black;
} */
.containerVertical{
  display: flex;
  flex-direction: column;
  border: 5px solid black;

}

.containerVertical .containerHorizontal{
  display: flex;
  flex-direction: row;
  height: auto;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Helvetica;
  line-height: 40px;
}
li{
  padding-left: 15px;
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}
li:hover{
  background-color: #9ED09E;
  color: white;
}

#header{
  background-color: red;
  height: 100px;

}
#footer{
  background-color: blue;
  height: 100px;

}
/* .containerHorizontal>div:nth-child(odd){
  background-color: lime;
  flex:1;

} */
.menu{
  flex:1;
}
.sidebar{
  flex:1.5;
}
.containerHorizontal>div:nth-child(even){
  background-color: pink;
  flex: 4;
}

h1{
text-align: center;
vertical-align: middle;
line-height: 125px;
color: white;
font-family: Helvetica;
text-shadow: 2px 2px 5px black;

}
