.containerVertical{
  display: flex;
  flex-direction: column;
}
.containerVertical .containerHorizontal{
  display: flex;
  flex-direction: row;
  height: auto;
}
.menu{
  list-style-type: none;
  font-family: Helvetica;
  margin:0;
  padding:0;
  /* width:200px; */
  line-height: 40px;
}
.menu>li{
  color: #474747;
  padding-left: 20px;
}

.menu> li:hover{
  background-color: #7EEABF;
  color: white;
}
header{
  height: auto;
  margin-bottom: 10px;
}
footer{
  background-color: #424344;
  height: 100px;
  margin-top: 10px;
  border-left: 3px grey;
  box-shadow: 0px 0px 3px 0px rgba(168,159,168,1);
  width: 100%;
  color: #d1d2d3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 14px;
}
nav{
  background-color:  #b3b7bc;
  flex: 0 0 175px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.90);
  margin: 10px 10px 10px 20px;
  /* padding-top: 40px; */
}

aside{
  flex: 0 0 275px;
  margin: 10px 20px 10px 10px;
}
main{
  background-color:  #b3b7bc;
  flex: 1 1 auto;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.90);
  padding: 30px 40px;
  margin: 10px;
  font-family: Helvetica;
  color: #474747;
  line-height: 20px;
  height: auto;
}
body{
  background-color: #f9fafc;
}
*{
  margin: 0px 0px;
}
img{
  width: 100%;
  height: 100%;
}

.profilePicture{
  float: left;
  width: 120px;
  height: 150px;
  /*
  width: 80px;
  position: relative;
  top: 30px; */
  box-shadow: 1px 2px 5px 0px rgba(125,125,125,1);
}
.border{
  display: inline-block;
  padding: 15px;
  width: 260px;
  height: auto;
  background-color: #c0eddb;
  font-family: Helvetica;
  font-size: 15px;
  color: #474747;
  margin-bottom: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.70);
}
.abilities{
  position: relative;
  top: 60px;
  left: 10px;

}
.listAbilites{
  position: relative;
  top: 65px;
  left: 30px;
}
.name{
  position: relative;
  top: 0px;
  left: 10px;
}
.product{
  height: auto;
  display: inline-block;
  margin: 20px;
  /* width: 50%;
  height: auto; */
  /* float:left; */
  /* margin-right: 30px; */
}
.producttxt{


}
.productpic{
  width: 50%;
  height: auto;
  float: left;
  margin-right: 40px;
  box-shadow: 1px 2px 5px 0px rgba(125,125,125,1);
}
#collapsible{
  background-color: white;
}
table {
border-collapse: collapse;
margin-top: 20px;
float: right;
}
table, th, td{
 border: 1px solid black;
 padding: 2px;
}
h2{
  margin-bottom: 20px;
}
.frame{
  position:relative;
  top: -15px;
  left: 7px;
  width: 185px;
  height: auto;
}
@media (max-width: 971px) {

  .containerVertical .containerHorizontal{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  main {
    order: 1;
    margin: 10px 100px;
    width: 672.5px;
  }
  nav {
    order: 2;
    margin: 0px 100px 0px 100px;
    flex: 0 0 30px;
    min-width: 400px;
    width: 752.5px;
  }
  aside {
    order: 3;
    margin: 10px 100px;
    width: 752.5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .border{
    margin: 20px;
  }

  .menu>li{
  display: inline;
  padding: 10px;

  }
  .frame{
    display: none;
  }

}
