/* .header{
  background-color: #AFD4C0;
  height: 125px;


}
.menu{
  background-color: #757675;
  height: 50px;
  box-shadow: 2px 2px 2px #606368;
  margin-bottom: 3px;
}




html, body{
  height: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #edf8ed;
  width: 200px;
  height: 100%;
  overflow: auto;
  font-family: Helvetica;
  line-height: 40px;
}
li{
  padding-left: 15px;
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}
li:hover{
  background-color: #9ED09E;
  color: white;
}
img{
  border: 1px solid black;
}
* {
  margin: 0;
  padding: 0;
}
h1{
text-align: center;
vertical-align: middle;
line-height: 125px;
color: white;
font-family: Helvetica;
text-shadow: 2px 2px 5px black;
} */
.containerVertical{
  display: flex;
  flex-direction: column;



}

.containerVertical .containerHorizontal{
  display: flex;
  flex-direction: row;
  height: auto;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Helvetica;
  line-height: 40px;
}
li{
  color: #555;
  padding-left: 15px;
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}
li:hover{
  background-color: #49c5b6;
  color: white;
}

#header{
  height: 300px;
  margin-bottom: 10px;

}
#footer{
  background-color: rgba(0,0,0,0.3);
  height: 100px;
  margin-top: 10px;
  border-top: 30px solid #49c5b6;
  border-left: 3px grey;
  box-shadow: 0px 0px 3px 0px rgba(168,159,168,1);
}
/* .containerHorizontal>div:nth-child(odd){
  background-color: lime;
  flex:1;

} */
.menu{
  background-color:  rgba(0,0,0,0.1);
  flex:1;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
margin: 10px 10px 10px 10px;
padding-top: 40px;
}
.sidebar{
  background-color:  rgba(0,0,0,0.1);
  flex:1.5;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
  margin: 10px 10px 10px 10px;
}
.containerHorizontal>div:nth-child(even){
  background-color:  rgba(0,0,0,0.1);
  flex: 4;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
  margin: 10px 10px 10px 10px;
  font-family: Helvetica;
  padding: 40px 60px;
  color: #555;
  word-spacing: 5px;
  line-height: 20px;
}

h1{
text-align: center;
vertical-align: middle;
line-height: 45px;
color: #49c5b6;
font-family: Helvetica;
text-shadow: 2px 2px 5px black;
}

body{
  background-color: #f9fafc;
}
*{
  margin: 0px 0px;
}
